* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

:root {
  --color-background: white;
  --color-foreground: black;
  
}

button {
  width: 7rem;
  height: 1.8rem;
  background: transparent;
  border: 1px solid black;
  border-radius: 3px;
}