/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

:root {
	--color-background: rgb(23, 29, 40);
	--color-foreground: rgb(255, 255, 255);
	--color-button: rgb(241, 129, 213);
	--color-button-hover: rgb(186, 107, 166);
	--color-button-active: rgb(97, 49, 85);

  	color: var(--color-foreground);
	background: var(--color-foreground);
}

button {
	width: 7rem;
	height: 2rem;
	background: var(--color-button);
	border: none;	
	border-radius: 3px;
	cursor: pointer;
}

button:hover {		
	background: var(--color-button-hover);		
}

button:active {
	background: var(--color-button-active);		
}